---
---
$min_width: 600px;
$max_width: 900px;

$header_height: 60px;
$footer_height: 132px;

$tab_width: 141px;
$tree_height: 221px;

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-width {
    width: 100%;
}

.constrained-width {
    min-width: $min_width;
    max-width: $max_width;
    margin: auto;

    padding-left: 100px;
    padding-right: 100px;
}

#main-layout {
    min-height: 100%;
}

#header {
    height: $header_height;
    position: relative;
    top: 0px;
    width: 100%;

    #logo {
        float: left;
        margin-top: -$header_height;
    }
}

#tabs-layout {
    position: relative;
    text-align: right;
    float: right;

    a {
        position: relative;
        top: 25px;
    }

    .active-tab {
        height: $header_height;
        width: $tab_width;
        text-align: center;
        float: right;
    }

    .inactive-tab {
        height: $header_height;
        width: $tab_width;
        text-align: center;
        float: right;
    }
}

#content {
    margin-top: 40px;
    padding-bottom: $footer_height + 80px;
}

#footer {
    margin-top: -$footer_height;
    height: $footer_height;
    position: relative;

    div {
        position: relative;
        top: 40px;
    }
}

#tree {
    margin-top: -$footer_height -$tree_height;
    height: $tree_height;
    position: relative;
    float: right;

    img {
        float: right;
    }
}

