---
---
$body_bg: #FFFFFF;
$body_fg: #1E3E53;

body {
    font: 16pt Helvetica, Arial, Sans-Serif;
    font-weight: 100;
    color: $body_fg;
    background: $body_bg;
}

#header {
    background-image: url("../images/top-gradient.png");
}

.active-tab {
    background-image: url("../images/activetab.png");

    a {
        color: $body_fg;
        font-size: 70%;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.inactive-tab {
    background-image: url("../images/inactivetab.png");

    a {
        color: $body_bg;
        font-size: 70%;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

#footer {
    background-image: url("../images/bottom-gradient.png");
    color: $body_bg;
    font-size: 70%;
}

#title {
    font-size: 200%;
}

#manifesto {
    .text {
        width: 700px;
    }

    .value {
        font-size: 150%;
    }
}

.text {
    margin-top: 2em;
    margin-bottom: 2em;
}

.addendum {
    font-size: 80%;
    margin-top: 4em;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
