<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

    <title>{{ page.title }}</title>
    <meta name="author" content="KDE" />

    <link href="css/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="css/layout.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="main-layout" class="full-width">
        <div id="header" class="full-width">
            <div id="tabs-layout" class="constrained-width">
            {% if page.url == "/results.html" %}
                <div class="active-tab"><a href="results.html">Survey Results</a></div>
            {% else %}
                <div class="inactive-tab"><a href="results.html">Survey Results</a></div>
            {% endif %}

            {% if page.url == "/process.html" %}
                <div class="active-tab"><a href="process.html">Process</a></div>
            {% else %}
                <div class="inactive-tab"><a href="process.html">Process</a></div>
            {% endif %}

            {% if page.url == "/index.html" %}
                <div class="active-tab"><a href="index.html">Introduction</a></div>
            {% else %}
                <div class="inactive-tab"><a href="index.html">Introduction</a></div>
            {% endif %}
            </div>

            <div id="logo" class="constrained-width">
                <img src="images/kde-logo.png" alt="KDE Logo" />
            </div>
        </div>

        <div id="content" class="constrained-width">
            {{ content }}
        </div>
    </div>

    <div id="tree">
        <img src="images/tree.png" alt="A tree" />
    </div>
    <div id="footer" class="full-width">
        <div class="constrained-width">For more information contact the <a href="https://mail.kde.org/mailman/listinfo/kde-community">KDE Community mailing list</a>.</div>
    </div>
</body>
</html>
